/* GoogleFonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* TailwindCSS */
@import "tailwindcss";

/* GlobalStyles */
@theme {
  --primary-color: #170a24;
  --secondary-color: #fa614f;

  --tertiary-color: #8c01db;
  --quaternary-color: #ffffff;

  --primary-gray: #4f4f4f;
  --secondary-gray: #c1c1c1;
  --tertiary-gray: #f4f5f8;

  --text-primary-color: #ffffff;
  --text-secondary-color: #170a24;
  --text-hover-color: #fa614f;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Outfit", sans-serif;
    color: var(--text-primary-color);
    background-color: var(--primary-color);
    overflow-x: hidden;
  }

  /* GradientTextStyle */
  .gradientTextColor {
    background: linear-gradient(
        to right,
        rgb(255, 196, 18) 15.12%,
        rgb(255, 88, 152) 60.18%
      )
      text;
    -webkit-text-fill-color: transparent;
    transition-duration: 0.3s;
  }

  /* GradientButtonStyle */
  .gradientButtonColor {
    background: linear-gradient(
      to right,
      rgb(255, 167, 18) 1.1%,
      rgb(180, 28, 221) 60.1%,
      rgb(255, 88, 152) 130.3%
    );
    background-size: 200% 100%;
    background-position: left center;
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
    color: rgb(255, 255, 255);
    transition: background-position 0.3s ease-in-out;
  }
  .gradientButtonColor:hover {
    background-position: right center;
  }

  /* GradientButtonAnimation */
  .button {
    color: #ffffff;
    background: none;
  }
  .animateButton {
    border-radius: 999px;
    font-weight: bold;
    background: rgb(255, 167, 18) 1.12%;
    background: -moz-linear-gradient(
      top,
      rgb(255, 167, 18) 0%,
      rgb(180, 28, 221) 70%,
      rgb(255, 88, 152) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgb(255, 167, 18)),
      color-stop(70%, rgb(180, 28, 221)),
      color-stop(100%, rgb(255, 88, 152))
    );
    background: -webkit-linear-gradient(
      top,
      rgb(255, 167, 18) 0%,
      rgb(180, 28, 221) 70%,
      rgb(255, 88, 152) 100%
    );
    background: -o-linear-gradient(
      top,
      rgb(255, 167, 18) 0%,
      rgb(180, 28, 221) 70%,
      rgb(255, 88, 152) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgb(255, 167, 18) 0%,
      rgb(180, 28, 221) 70%,
      rgb(255, 88, 152) 100%
    );
    background: linear-gradient(
      to bottom,
      rgb(255, 167, 18) 0%,
      rgb(180, 28, 221) 70%,
      rgb(255, 88, 152) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 167, 18)', endColorstr='rgb(255, 167, 18)',GradientType=0 );
  }
  @-webkit-keyframes pulseBox {
    0% {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 167, 18, 0.6);
    }
    100% {
      -webkit-box-shadow: 0px 0px 18px 0px rgba(255, 167, 18, 0.9);
    }
  }
  @-moz-keyframes pulseBox {
    0% {
      -moz-box-shadow: 0px 0px 10px 0px rgba(255, 167, 18, 0.6);
    }
    100% {
      -moz-box-shadow: 0px 0px 18px 0px rgba(255, 167, 18, 0.9);
    }
  }
  @-o-keyframes pulseBox {
    0% {
      -o-box-shadow: 0px 0px 10px 0px rgba(255, 167, 18, 0.6);
    }
    100% {
      -o-box-shadow: 0px 0px 18px 0px rgba(255, 167, 18, 0.9);
    }
  }
  @keyframes pulseBox {
    0% {
      box-shadow: 0px 0px 10px 0px rgba(255, 167, 18, 0.6);
    }
    100% {
      box-shadow: 0px 0px 18px 0px rgba(255, 167, 18, 0.9);
    }
  }
  .pulseBox {
    -webkit-animation-name: pulseBox;
    -moz-animation-name: pulseBox;
    -o-animation-name: pulseBox;
    animation-name: pulseBox;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    border: 0px;
  }
}
